{% extends 'base.html' %}

{% block content %}
<h1 style = margin-left:45%> Create </h1>
<br />
<form method="post" action={% url 'create' %} enctype='multipart/form-data' style = margin-left:43%>
{{ error }} <br/>
{% csrf_token  %}
Title: <br />
<input type = 'text' name = 'title' />
<br />


Body: <br />
<input type = 'textbox' name = 'body' />
<br />

Url: <br />
<input type = 'textbox' name = 'url' />
<br />

Icon: <br />
<input type = 'file' name = 'icon' />
<br />

Image: <br />
<input type = 'file' name = 'image' />
<br />
<br />

<input class="btn btn-primary" type="submit" value="Upload!">

</form>
{% endblock %}