{% extends 'base.html' %}

{% block content %}
<br/>
<br/>

<div class="row">
    <div class="col-2">
        <img src="{{product.icon.url}}" class="img-fluid" style=margin-left:40px >
    </div>

    <div class="col-10">
        <a href="{{product.url}}" ><h1 style=margin-left:40px>{{product.title}}</h1>  </a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-6">
        <img src="{{product.image.url}}" class="img-fluid" style=margin-left:40px >
    </div>

    <div class="col-3">
        <a href="javascript:{document.getElementById('upvote').submit()}" ><button class="btn btn-primary btn-lg btn-block" style=margin-left:40px> Upvote {{product.votes_total}} </button> </a>
    </div>
</div>


<div class="row">
    <div class="col-3">
        <h4 style=margin-left:40px> Hunted By: {{product.hunter.username}}</h4>
    </div>

    <div class="col-3 text-right" >
        <h4> {{product.pub_date_pretty}} </h4>
    </div>
</div>
<br />

<div class="row">
    <div class="col-6">
        <p style=margin-left:40px> {{product.body}}</p>
    </div>

</div>


<form id="upvote" method="POST" action="{% url 'upvote' product.id%}">
{% csrf_token %}
    <input type="hidden"/>


</form>

{% endblock %}